@import "@/styles/themes";

.wrapper {
    position: relative;
    margin-top: 0.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.indicator {
    width: 100%;
    height: 5px;
    border-radius: 999rem;
    transition: all 0.1s linear;

    @include theme() {
        background-color: rgba(theme-get("text"), 0.1);
    }
}

.message {
    margin-top: 0.6rem;
    position: absolute;
}

._0 {
    @extend .indicator;
    width: 0;

    &__message {
        @extend .message;

        @include theme() {
            color: rgba(theme-get("text"), 0.4);
        }
    }
}

._1 {
    $indicator-color: rgba($color-cinnabar, 0.8);
    @extend .indicator;
    width: 25%;
    background-color: $indicator-color !important;

    &__message {
        @extend .message;
        color: $indicator-color;
    }
}

._2 {
    $indicator-color: rgba($color-jaffa, 0.8);
    @extend .indicator;
    width: 50%;
    background-color: $indicator-color !important;

    &__message {
        @extend .message;
        color: $indicator-color;
    }
}

._3 {
    $indicator-color: rgba($color-candy-corn, 0.8);
    @extend .indicator;
    width: 75%;
    background-color: $indicator-color !important;

    &__message {
        @extend .message;
        color: $indicator-color;
    }
}

._4 {
    $indicator-color: rgba($color-screamin-green, 0.8);
    @extend .indicator;
    width: 100%;
    background-color: $indicator-color !important;

    &__message {
        @extend .message;
        color: $indicator-color;
    }
}
