@font-face {
    font-family: "LINESeedSansTH_W_Rg";
    font-style: normal;
    src: url("../../public/fonts/LINESeedSansTH/eot/LINESeedSansTH_W_Rg.eot"),
        url("../../public/fonts/LINESeedSansTH/woff/LINESeedSansTH_W_Rg.woff") format("woff"),
        url("../../public/fonts/LINESeedSansTH/woff2/LINESeedSansTH_W_Rg.woff2") format("woff2"),
        url("../../public/fonts/LINESeedSansTH/ttf/LINESeedSansTH_A_Rg.ttf") format("truetype");
}

@font-face {
    font-family: "LINESeedSansTH_W_Th";
    font-style: normal;
    src: url("../../public/fonts/LINESeedSansTH/eot/LINESeedSansTH_W_Th.eot"),
        url("../../public/fonts/LINESeedSansTH/woff/LINESeedSansTH_W_Th.woff") format("woff"),
        url("../../public/fonts/LINESeedSansTH/woff2/LINESeedSansTH_W_Th.woff2") format("woff2"),
        url("../../public/fonts/LINESeedSansTH/ttf/LINESeedSansTH_A_Th.ttf") format("truetype");
}

@font-face {
    font-family: "LINESeedSansTH_W_Bd";
    font-style: normal;
    src: url("../../public/fonts/LINESeedSansTH/eot/LINESeedSansTH_W_Bd.eot"),
        url("../../public/fonts/LINESeedSansTH/woff/LINESeedSansTH_W_Bd.woff") format("woff"),
        url("../../public/fonts/LINESeedSansTH/woff2/LINESeedSansTH_W_Bd.woff2") format("woff2"),
        url("../../public/fonts/LINESeedSansTH/ttf/LINESeedSansTH_A_Bd.ttf") format("truetype");
}

@font-face {
    font-family: "LINESeedSansTH_W_XBd";
    font-style: normal;
    src: url("../../public/fonts/LINESeedSansTH/eot/LINESeedSansTH_W_XBd.eot"),
        url("../../public/fonts/LINESeedSansTH/woff/LINESeedSansTH_W_XBd.woff") format("woff"),
        url("../../public/fonts/LINESeedSansTH/woff2/LINESeedSansTH_W_XBd.woff2") format("woff2"),
        url("../../public/fonts/LINESeedSansTH/ttf/LINESeedSansTH_A_XBd.ttf") format("truetype");
}

@font-face {
    font-family: "LINESeedSansTH_W_He";
    font-style: normal;
    src: url("../../public/fonts/LINESeedSansTH/eot/LINESeedSansTH_W_He.eot"),
        url("../../public/fonts/LINESeedSansTH/woff/LINESeedSansTH_W_He.woff") format("woff"),
        url("../../public/fonts/LINESeedSansTH/woff2/LINESeedSansTH_W_He.woff2") format("woff2"),
        url("../../public/fonts/LINESeedSansTH/ttf/LINESeedSansTH_A_He.ttf") format("truetype");
}
