/* Typography */
$font-family-sans: "LINESeedSansTH_W_Rg", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-mono: ui-monospace, "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", monospace;

$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 2rem;
$font-size-4xl: 3rem;

$line-height-sm: 1.25;
$line-height-md: 1.5;

/* Colors */
$color-rice-cake: #fffef1;
$color-silver: #b8b8b8;
$color-shark: #191a1d;
$color-cinnabar: #ed4245;
$color-brilliant-rose: #eb459e;
$color-candy-corn: #fee75c;
$color-screamin-green: #57f287;
$color-cornflower-blue: #5865f2;

