/* colors */
$color-shark: #191a1d;
$color-silver: #b8b8b8;
$color-rice-cake: #fffef1;
$color-cinnabar: #ed4245;
$color-brilliant-rose: #eb459e;
$color-candy-corn: #fee75c;
$color-screamin-green: #57f287;
$color-cornflower-blue: #5865f2;
