.body {
    position: relative;
    color: white;
    background-color: $color-shark;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.wrapper {
    position: relative;
    max-width: 32.375rem;
    width: 100%;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
}

.circle {
    z-index: -1;
    width: 800px;
    height: 600px;
    opacity: 0.44;
    filter: blur(120px);
    background-image: linear-gradient(
        to right,
        $color-cinnabar,
        $color-brilliant-rose
    );
    border-radius: 999rem;
    position: absolute;
    top: -24rem;
    bottom: auto;
    transform: translate(0);
}
