.button {
    background-image: radial-gradient(
        200% 200% at 50% 111%,
        rgba($color-rice-cake, 0.1) 0%,
        rgba(120, 120, 120, 0.05) 24%
    );
    background-color: $color-woodsmoke;
    border-radius: 0.5rem;
    border-width: 0;
    color: inherit;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    &:hover {
        background-color: mix(white, $color-woodsmoke, 10%);
    }
}

.wrapper {
    position: relative;
    padding: 1px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.4);
    background: conic-gradient(
        from var(--border-angle),
        rgba($color-rice-cake, 0.5),
        rgba($color-rice-cake, 0.1) 50%,
        rgba($color-rice-cake, 0.1) 50%,
        rgba($color-rice-cake, 0.5)
    );
    animation: border-spin 3s linear infinite;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
