@import "@/styles/themes";

.button {
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

    @include theme() {
        $color-bg: theme-get("text");
        $color-text: theme-get("bg");

        color: $color-bg;
        background-color: $color-text;
        box-shadow: 0 4px 20px 0 rgba(mix(black, $color-text, 50%), 0.3);
        border: 1px solid rgba($color-bg, 0.2);

        &:hover {
            background-color: mix($color-bg, $color-text, 10%);
        }
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
