.body {
    position: relative;
    color: white;
    background-color: $color-shark;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.wrapper {
    position: relative;
    max-width: 32.375rem;
    width: 100%;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
}
