@import "@/styles/themes";

.spinner {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    @include theme() {
        border: 2px solid rgba(theme-get("border"), 0.3);
        border-bottom-color: transparent;
        border-radius: 50%;
    }
}
