@import "@/styles/themes";

.wrapper {
    display: grid;
}

.input {
    background-color: inherit;
    border-radius: 0.5rem;
    color: inherit;
    padding: 0 1rem;
    transition: all 0.1s ease;
    margin-top: 0.2rem;

    @include theme() {
        border: 1px solid rgba(theme-get("border"), 0.2);
    }

    &:focus {
        transition: all 0.1s ease;

        @include theme() {
            $color-border: theme-get("border");

            border: 1px solid rgba($color-border, 1);
            box-shadow: 0 0 0 4px rgba($color-border, 0.2);
        }
    }

    &__error {
        border: 1px solid mix(white, $color-cinnabar, 10%);
        box-shadow: 0 0 0 4px rgba(mix(white, $color-cinnabar, 10%), 0.2);
        transition: all 0.1s ease;
    }
}

.input[type="password"] {
    &::placeholder {
        @include theme() {
            color: rgba(theme-get("text"), 0.4);
        }
    }
}

.error {
    display: flex;
    justify-content: left;
    align-items: center;
    color: mix(white, $color-cinnabar, 10%);

    span {
        margin-top: 0.25rem;
        margin-left: 0.5rem;
    }
}
